<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="mapper.MemberMapper">

	<select id="selectById" parameterType="String" resultType="Member">
		select * from MEMBER_LIBIDO where id = #{id}
	</select>
	
	<insert id="insertMem" parameterType="Member">
		insert into MEMBER_LIBIDO
			(name, birth, id, password, 
			 email, tel1, tel2, tel3, 
			 address1, address2, zipcode, reg_date)
		values 
			(#{name},#{birth},#{id},#{password}, 
			 #{email},#{tel1},#{tel2},#{tel3}, 
			 #{address1},#{address2},#{zipcode},#{reg_date})
	</insert>
	
	<select id="getIds" resultType="String">
		select id from MEMBER_LIBIDO
	</select>

</mapper>